* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 4rem;
}


header {
    background-color: thistle;

}


.all_page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    position: relative;

    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);

    }
}

footer {
    display: flex;
    bottom: 0;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;

    p {
        display: flex;

        margin: 0 2rem !important;
    }

    a {
        margin: 0 1rem;
    }

}

a {
    text-decoration: none !important;
    color: white !important;
}

.form {
    height: 100%;


}

.reviews {
    width: 90%;
    margin: auto;
}




.agu-display-title-font {
    font-family: "Agu Display";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 13;
    font-display: swap;
}